:root {
  --primary: rgb(0, 229, 255);
  --secondary: rgb(167, 151, 255);
  --secondary2:rgb(208, 140, 240);
  --alternate: rgb(255, 143, 178);
  --light: #f3f3f3;
  --light2: #F0F3BD;
  --dark: #000000;
  --dark2: #252525;

  --fake: FakeIdentity;
  --lemon: Lemon;
  --roboto: Roboto;
}

@font-face {
  font-family: "FakeIdentity";
  src: local("FakeIdentity"),
    url("./fonts/fake_identity/FakeIdentity.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lemon";
  src: local("Lemon"),
    url("./fonts/lemon_milk/LEMONMILK-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#homepage {
  padding: 0;
  font-family: var(--roboto);
}


.container-fluid{
  padding-left: 0 !important;
  overflow-x: hidden;
}

.links {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.links a {
  text-decoration: none;
  color: var(--light);
}

.links a:hover {
  text-decoration: none;
  color: var(--light2);
}

/* Button Links */
#portfolio-button,
#skills-button
{
  width: 30vw;
  transition: all ease 1s;
}

.button-link {
  width: 30vw;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  transition: all ease-in-out .25s;
  font-family: var(--fake);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
}

.button-link:hover {
  color: var(--light);
}

.button-link span {
  transform: rotate(-90deg);
  text-transform: uppercase;
}

#portfolio-button{
  background: linear-gradient(
    135deg,
    var(--primary),
    var(--alternate)
  );
}

#skills-button{
  background: linear-gradient(
    135deg,
    var(--secondary),
    var(--primary)
  );
}

#about-button{
  background: linear-gradient(
    135deg,
    var(--alternate),
    var(--secondary)
  );
}

.links:nth-child(odd) .button-link{
  background-color: blue;
}

.links:nth-child(odd){
  background-color: var(--dark2);
}

.links:nth-child(even){
  background-color: var(--light);
}

.page {
  padding: 1rem;
  overflow-x: hidden !important;
  overflow-y: hidden;
}

#portfolio,
#skills,
#about {
    width: 70vw;
    scroll-behavior: smooth;
    transition: all ease 1s;
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 500px) {
  .button-link {
    font-size: 2rem;
  }
}